.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.image-container {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.card-body {
  flex: 0 1 auto;
  margin-top: auto;
}
